[project]
	description = Building the latest OpenStack Swift All-in-One development environment with a simple shell script
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Li Ma (li-ma)
[access "refs/for/refs/*"]
	read = group user/Li Ma (li-ma)
	push = group user/Li Ma (li-ma)
	label-Code-Review = -2..+2 group user/Li Ma (li-ma)
	label-Verified = -1..+1 group user/Li Ma (li-ma)
	rebase = group user/Li Ma (li-ma)
	removeReviewer = group user/Li Ma (li-ma)
	submit = group user/Li Ma (li-ma)
[access "refs/heads/*"]
	read = group user/Li Ma (li-ma)
	create = group user/Li Ma (li-ma)
	push = +force group user/Li Ma (li-ma)
	pushMerge = group user/Li Ma (li-ma)
[access "refs/tags/*"]
	push = +force group user/Li Ma (li-ma)
	pushTag = group user/Li Ma (li-ma)
	pushSignedTag = group user/Li Ma (li-ma)
